html {
    height: 100%;
    width: 100%;
}

.container 
{
    height: 100%;
    width: 100%;
}

.chart
{
	float:right;
    background-color: #F3F3F3;

}
.menu
{
    position:absolute;
    top:20px;
	background-color: #F3F3F3;
	float:left;
	width: 23%;
    height: 95%;
    display: inline;
}

.dropper,
.buttoncon
{
    width:95%;
    margin-left:2.5%;
    margin-right:2.5%;
    position:relative;
}


.dropper
{
    margin-bottom:20px;
    border:0px solid;
    border-bottom-left-radius: 15px 15px;
    border-bottom-right-radius: 15px 15px;
    height:0%;
}


.buttoncon
{
    height: 7.5%; 
}

    .buttonimg
    {
        height: 100%;
        width: 19%;
        background-color:red;
        border:1px solid;
        border-top-left-radius: 15px 15px;
        border-bottom-left-radius: 15px 15px;
    }
    


    .buttontextcon
    {
        height: 100%;
        width: 80%;
        float:right;
        background-color: Silver;
        border:1px solid;
        border-top-right-radius: 15px 15px;
        border-bottom-right-radius: 15px 15px;
    }
    
        .buttontext
        {
            margin:auto;
            text-align:center;
            vertical-align: middle;
            font-family:arial;color:black;font-size:20px;
            line-height:325%;
        }
	

body 
{
  height: 100%;
  width: 100%;
  padding:0px;
  margin:0px;
  font: 10px sans-serif;
  background-color: #F3F3F3;

}

.axis path,
.axis line 
{
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path 
{
  display: none;
}

.line 
{
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}
