html {
    height: 100%;
    width: 100%;
}

.container 
{
    height: 100%;
    width: 100%;
    position:relative;
}

.logincover
{

    width: 100%;
    height: 100%;
    z-index: 2;
    background-color:black;
    opacity:0.6;
    position:absolute;
    bottom:0;
}

.uppermenu
{
    background-color:silver;
    height:30px;
    width:100%;
    position:absolute;
    border-width:1px;	
    border-bottom-style:solid;
    z-index:3;
}

.chart
{
	float:right;
    background-color: #F3F3F3;
    margin-top:35px;
}
.menu
{
    position:absolute;
    top:50px;
	background-color: #F3F3F3;
	float:left;
	width: 310px;
    display: inline;
    bottom:0;
}

.dropper,
.buttoncon
{
    margin-left:10px;
    position:relative;
}


.dropper
{
    margin-bottom:20px;
    border:0px solid;
    border-bottom-left-radius: 15px 15px;
    border-bottom-right-radius: 15px 15px;
    height:0%;
    width:298px;
    background-color:#D1D1D1;
}


.buttoncon
{
    height: 60px; 
    width:300px;
    box-shadow: 10px 12px 5px #888888;
    border-bottom-left-radius: 15px 15px;
    border-bottom-right-radius: 15px 15px;
    border-top-right-radius: 15px 15px;
    border-bottom-right-radius: 15px 15px;
}

    .buttonimg
    {
        height: 60px;
        width: 60px;
        background-color:red;
        border:1px solid;
        border-top-left-radius: 15px 15px;
        border-bottom-left-radius: 15px 15px;
    }
    


    .buttontextcon
    {
        height: 60px;
        width: 240px;
        float:right;
        background-color: Silver;
        border:1px solid;
        border-top-right-radius: 15px 15px;
        border-bottom-right-radius: 15px 15px;
    }
    
        .buttontext
        {
            margin:auto;
            text-align:center;
            vertical-align: middle;
            font-family:arial;color:black;font-size:20px;
            line-height:325%;
        }
	

body 
{
  height: 100%;
  width: 100%;
  padding:0px;
  margin:0px;
  font: 10px sans-serif;
  background-color: #F3F3F3;

}

.axis path,
.axis line 
{
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path 
{
  display: none;
}

.line 
{
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}

#logbtn
{
    border:1px solid;
    width:60px;
    height: 25px;
    margin-top:2px;
    float:right;
    background-color:lightgrey;
    margin-right:20px;
    border-bottom-left-radius: 5px 5px;
    border-bottom-right-radius: 5px 5px;
    border-top-right-radius: 5px 5px;
    border-top-left-radius: 5px 5px;
    
}

    #lgntext
    {
        margin-top:5px;
        margin-bottom:5px;
        font-family:arial;color:black;font-size:15px;
        text-align:center;
        text-align:middle;
    }
