@font-face {
    font-family: "Karnivor";
    src: url('../fonts/KARNIVOR.ttf') format('truetype');
}
@font-face {
    font-family: "Orbitron";
    src: url('../fonts/Orbitron-Regular.ttf') format('truetype');
}
@font-face {
    font-family: "WebIcons";
    src: url('../fonts/WebSymbols-Regular.otf') format('opentype');
}

html,
body
{
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    font-family:arial;color:black;font-size:15px;
    background-color: #daddd2;
    overflow-x: hidden;
    overflow-y: hidden;
}

.quit {
    position: absolute;
    font-family:"WebIcons", serif;color:white;font-size:20px;
    z-index: 5;
    margin: 10px;
    top: 0%;
    right: 0%;
    cursor: pointer; 
}

.container
{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  margin: 0; padding: 0;
}

.menu-wrapper
{
  width: 100%;
  display: table;
  vertical-align: middle;
}

.menu
{
    position: relative;
    display: table-cell;
    vertical-align: middle;
    height: 60px;
    margin: 0;
    width: 100%;
    background-color: #3a5063;
}

#content
{
    margin-top: 60px;
    position: relative;
    width: 100%;
}


#login,
#register
{
    margin-top: 5px;
    display: inline-block;
    width: 75px;
    float: right;
    text-decoration:none;
    cursor: pointer; 
    margin-right: 40px;
    background-color: #3a5063;
}

#motto
{
    position: relative;
    width: 400px;
    margin: 0 auto;
    text-decoration: none;
    cursor: pointer;
    background-color: #3a5063;
}

.fight
{
    font-family:"cinzel", sans-serif;color:white;font-size:30px;
    margin-top: 5px;
    margin-bottom: 5px;
    text-align:center;
}

.buttontext
{
    font-family:"source sans pro", sans-serif;color:white;font-size:20px;
    margin-top: 5px;
    margin-bottom: 5px;
    text-align:center;
}

#logo
{
    display: block;
    margin-left: auto;
    margin-right: auto
}

#entry
{
    visibility:hidden;
    background-color: #3a5063;
    position: absolute;
    top: 18%;
    margin-left: 22%;
    z-index: 4;
    width: 56%;
    height: 500px;
    text-align:left;
    outline-style: solid;
    outline-width: 2px;
    outline-colour:black;
}
input
{
    margin-left: 1%; 
    font-size: 15px;
    margin-bottom:25px;
}

label 
{
    display: inline-block;
    width: 150px;
    margin-left: 10%;
    font-family:"source sans pro", sans-serif;color:white;font-size:16px;
}

h3 {
        
    font-family: "alpha slab one", serif; color:aliceblue;
    font-size:35px;
    margin-left: 10%;
    margin-bottom: 0px;
    padding: 0;
}

p  {
    font-family: "source sans pro", sans-serif; color:aliceblue;
    font-size:20px;
    margin-left: 14%;
    margin-top: 0px;
}

#entry-ck-box {
    margin-left:10%;
}

#accountcreation {
    width: 50%;
    margin-top:15px;
    float: left;
}

#loginscreen {
    position:relative;
    float: right;
    width: 50%;
    margin-top:100px;
}

.buttontext1 {
    font-family:"cinzel", sans-serif;color:white;font-size:30px;
    margin: 0 auto;
}

#jointheclan,
#logintowonderland {
    margin: 0 auto;
    margin-left: 20%;
    width: 250px;
    text-align: center;
    background-color: #4b6983;
}

#welcome {
    margin-left:0;
    font-size: 22px;
    text-align: center;
    margin-top: 10px;
}
