html,
body 
{
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    font-family:arial;color:black;font-size:15px;
    background-color: #F3F3F3;
    overflow-x: hidden;
    overflow-y: hidden;
}

.container
{
    position: absolute;
    width: 100%;
    height: 100%;
}

.menu 
{
    height: 35px;
    width: 100%;
    background-color: rgb(149, 165, 165);
    position: absolute;
}

#content
{
    margin-top: 60px;
    position: relative;
    width: 100%;
}

.registerdiv
{
    padding: 30px;
    padding-top: 10px;
    background-color: silver;
    position: relative;
    width: 500px;
    z-index: 3;
    margin: 0 auto;
    margin-top: 50px;
    visibility: hidden;
    border:2px solid;
    border-radius:25px;
}

#registercover
{
    position: absolute;
    opacity: 0.75;
    background-color: black;
    height: 100%;
    width: 100%;
    z-index: 2;
}

.regi
{
    border-color: transparent;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 15px;
    height: 25px;
    width: 150px;
    background-color: white;
    -moz-border-radius-topright: 30px;
    -webkit-border-top-right-radius: 30px;
    border-top-right-radius: 30px;
    -moz-border-radius-bottomleft: 30px;
    -webkit-border-bottom-left-radius: 30px;
    border-bottom-left-radius: 30px;
    outline-color: silver;
}

.input
{
    border-color: transparent;
    padding-left: 15px;
    padding-right: 15px;
    float: right;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 15px;
    height: 20px;
    width: 150px;
    outline-color: rgb(149, 165, 165);
    background-color: white;
    -moz-border-radius-topright: 30px;
    -webkit-border-top-right-radius: 30px;
    border-top-right-radius: 30px;
    -moz-border-radius-bottomleft: 30px;
    -webkit-border-bottom-left-radius: 30px;
    border-bottom-left-radius: 30px;
}

.rmb
{
    float: left;
    margin-bottom: 20px;
    height: 25px;
    width: 75px;
    margin-right: 15px;
    text-decoration: none;
    cursor: pointer;
    -moz-border-radius-topright: 30px;
    -webkit-border-top-right-radius: 30px;
    border-top-right-radius: 30px;
    -moz-border-radius-bottomleft: 30px;
    -webkit-border-bottom-left-radius: 30px;
    border-bottom-left-radius: 30px;
    background-color: rgb(114, 169, 217);
}

#login, 
#register
{
    float: right;
    height: 25px;
    width: 75px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 15px;
    text-decoration: none;
    cursor: pointer;
    -moz-border-radius-topright: 30px;
    -webkit-border-top-right-radius: 30px;
    border-top-right-radius: 30px;
    -moz-border-radius-bottomleft: 30px;
    -webkit-border-bottom-left-radius: 30px;
    border-bottom-left-radius: 30px;
    background-color: rgb(114, 169, 217);
}

.buttontext
{
    font-family:"Helvetica Neue", sans-serif;color:black;font-size:15px;
    margin-top: 5px;
    margin-bottom: 5px;
    text-align:center;
}

#logo
{
    display: block;
    margin-left: auto;
    margin-right: auto
}
#ilogin {
    padding: 3px;
    padding-top: 3px;
    padding-right: 5px;
    background-color: silver;
    position: absolute;
    width: 110px;
    z-index: 7;
    margin: 0 auto;
    margin-top: 5px;
    visibility: hidden;
    border:1px solid;
    border-color: #83939b;
    border-radius: 10px;
    right:50px;
    top:40px;
}

#iloginp {
    color: red;
}

.footer {
    position: absolute;
    bottom: 0px;
    left: 0px;
    height: 30px;
    width: 100%;
    background-color: rgb(149, 165, 165);
}

#footerlogo {
    float: left;
    width: 30px;
    margin-left: 5px;
    margin-top: 2px;
    margin-right: 0;
}

.footertext {
    float: left;
    font-family:arial;color:black;font-size:20px;
    margin-left: 5px;
    margin-top: 2px;
    margin-right: 0;
}
